/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden !important;
}

@media (min-width: 320px) and (max-width: 480px) {
    .mat-drawer-inner-container {
        justify-content: start;
        overflow: visible !important;
    }
}