::ng-deep app-list {
    width: 100%;
}

.characters-list {
    max-height: calc(100vh - 154px);
    min-height: 400px;
    width: 100%;
    overflow-y: auto;
    padding: 10px 10%;
}

::ng-deep mat-paginator {
    padding: 10px 10%;
}

::ng-deep app-card+app-card {
    margin-top: 10px;
    display: block;
}